body {
  background-image: url('https://c.tenor.com/9fAj8-HDLqMAAAAC/star-wars-light.gif ');
  background-repeat: no-repeat;
  background-size: 100%;
  color: yellow;
  text-align: center;
}

h1 {
  font-size: 70px;
}

button {
  background-color: black;
  font-size: large;
  color: yellow;
}

input {
  background-color: black;
  font-size: large;
  color: yellow;
}

select {
  background-color: black;
  font-size: large;
  color: yellow;
}
